<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notifyme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.notifyme.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.notifyme.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.example.notifyme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notifyme.MainActivity" />
        </activity>
        <activity
            android:name="com.example.notifyme.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName="com.example.notifyme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notifyme.MainActivity" />
        </activity>
        <activity
            android:name="com.example.notifyme.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName="com.example.notifyme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notifyme.MainActivity" />
        </activity>
        <activity
            android:name="com.example.notifyme.DebugActivity"
            android:label="@string/title_activity_debug"
            android:parentActivityName="com.example.notifyme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notifyme.MainActivity" />
        </activity>
    </application>

</manifest>
